.player {
    display: flex;
    left: 0;
    align-items: center;
    transition: left 0.3s ease-in-out;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    &:hover{
        filter: brightness(1.5);
    }

    span {
        font-size: 24px;
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    img {
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
        transition: all 0.125s ease-in-out;
    }
}

.player-active {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 16px;
    border-radius: 16px;

    left: -50%;
    z-index: 3;
    transition: left 0.3s ease-in-out;
    img {
          filter: hue-rotate(180deg);
        transition: left 0.3s ease-in-out;
    }
}

@media (max-width:680px) {
    .player-active {
        top: 100px;
        left: 8%;
    }
}