<div class="player-header">
    <div class="players">
    <app-player *ngFor="let player of game.players; let i = index" [playerAcitve]="i === game.currentplayer"
        [name]="player" (click)="editPlayer(i)" class="player-position"></app-player>
    </div>
</div>
<div class="field">


    <div class="card-stack">

        <img [ngStyle]="{'right.px': i * 4}" *ngFor="let c of [0,1,2,3]; let i = index"
            src="/assets/img/cards/card_cover.png">

        <img class="played-card" *ngFor="let card of game.playedCard" src="/assets/img/cards/{{ card}}.png">

        <img (click)="addPlayer()" class="top-card" style="right: 25px" src="/assets/img/cards/card_cover.png">

        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px"
            src="/assets/img/cards/{{ game.currentCard }}.png">

    </div>


</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>