.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/img/board.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
   
    img {
        position: absolute;
        width: 120px;
        box-shadow: 1px 2px 4px 0 black;
        border-radius: 10px;
    }
}

.top-card {
    cursor: pointer;
    border-radius: 10px;
    

    &:hover {
        transform: scale(1.1) translateY(-10px);
        transition: all 0.125s ease-in-out;
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg);
}

.pick-card {
    z-index: 1;
    border-radius: 10px;
    transition: all 0.125s ease-in-out;
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1.1);
    }

    30% {
        transform: scale(1.7);
        box-shadow: 0 0 15px black;
    }

    70% {
        transform: scale(1.7);
        box-shadow: 0 0 15px black;
    }

    100% {
        transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg);
        box-shadow: 0 0 0 black;
    }
}

.player-header {
    position: absolute;
    width: 50%;
    right: 32px;
    top: 8px;

}
.players {
    display: flex;
    justify-content: space-around;
}

.player-position {
    max-width: 1px;
    z-index: 2;
}

.btn-add {
    position: fixed;
    inset: auto 32px 32px auto;
}

.pin-bottom {
    position: fixed;
    // position: absolute;
    inset: auto 100px 32px 100px;
}


@media (max-width:680px) {
    .pin-bottom {
        left: 0;
        right: 0;
    }
    .btn-add {
        bottom: 8px;
        right: 8px;
    }
}